div,a,p{
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.CTree-wrap {
  font-size: 14px;
  color: #666666;

  .CTree-item {
    cursor: pointer;
    padding-left: 20px;
  }

  .item-content {
    position: relative;
    height: 28px;
    line-height: 28px;
  }

  .content-word {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding: 0 6px;
  }

  .word-choose {
    background: #e3e3e3;
    border-radius: 2px;
  }

  .item-dot {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -20px;
    top: 0;
    height: 28px;
    width: 20px;

    .item-strangle {
      border-left: 6px solid #314659;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-right: 6px solid transparent;
      transform: translateX(3px);
    }

    .item-open {
      transform: rotate(90deg);
      transform-origin: 4px 6px;
    }
  }


  .item-child {
  }
}


