.exception {
  height: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .status {
    font-size: 70px;
    color: rgba(51, 102, 102, 0.4);
  }

  .text {
    font-size: 20px;
    color: #ccc;
  }
}
